{% extends 'base.html.twig' %}
{% block body %}
<div class="site-wrapper">
    <div id="site-wrapper-inner-resultpage">

{% block body_menu %}
{{parent()}}
{% endblock %}
{% block body_results %}

 {% for movie in movies %}
       
        <div class="movieDiv-container">
             <div class="movieDiv-image">
            <img src="{{movie.PosterPath()}}" alt="#">
            </div>
            <div class="movieDiv-right-wrapper">
                <div class="movieDiv-header">
                    <h3>{{ movie.Title() }}</h3>
                </div>
           
                <div class="movieDiv-info">
                    <p>{{ movie.Overview()}}</p>
                </div>
                <div class="movieDiv-right-details">
                <table>
                    <tr><th>Release date</th><td>{{movie.ReleaseDate()}}</td></tr>
                    <tr><th>Adult rated</th><td>{{movie.IsAdult()}}</td></tr>
                    <tr><th>Popularity</th><td>{{movie.Popularity()}}</td></tr>
                </table>     
                </div>
            </div>
       </div>
       
    {% endfor %}
   
{% endblock %}
        </div>
    </div>
{% endblock %}