{% extends 'base.html.twig' %}

{% block body_text_title %}Search for your movie here!{% endblock %}
{% block body_text_content %}
 {% for movie in movies %}
       {{ movie.title }}
    {% endfor %}

{% endblock %}
{% block body_content_other %}

{{ form_start(form) }}
  {{ form_errors(form) }}

    <div>
        {{ form_label(form.searchObject, 'Search ', {'label_attr': {'class': 'searchLabel'}}) }}
        {{ form_errors(form.searchObject) }}
        {{ form_widget(form.searchObject, {'attr': {'class': 'searchBar'}}) }}
    </div>

  

    <div>
        {{ form_widget(form.save, {'attr': {'class': 'searchButton'}}) }}
    </div>
{{ form_end(form) }}
{% endblock %}

